body{
	font-family:'Open Sans', sans-serif;
    font-weight:300;
	color:#000000;
    font-size:11px;
    padding:10px;
    overflow:hidden;
}
a{
	color:#aaaaaa;
    text-decoration:none;
}
.mapboxgl-ctrl-top-right{
    margin-top:40px;
    width:200px;
    margin-right:40px;
}
.mapboxgl-ctrl-geocoder--input{
    margin-left:30px;
    margin-top:8px;
    width:190px;
    border:1px solid #fff;
}
#about{
    position:absolute;
    top:100px;
    width:50%;
}
#head{
    padding:20px;
    letter-spacing:1px;
    font-size:24px;
    position:fixed;
    left:0px;
    top:0px;
    background-color:rgba(255,255,255,0.8);
    border-bottom:1px solid #dddddd;
    height:20px;
    width:100%;
    overflow:hidden;
    z-index:9;
}
/* for charts and maps */
 #map{
     padding:10px;
	 position:absolute;
	 left:0px;
     top:0px;
     width:98%;
     height:98%;
     z-index:-1;
     overflow:hidden;
 }
 #nav{
     width:200px;
     position:fixed;
     right:0px;
     top:60px;
     padding:0px;
     background:rgba(255,255,255,0.8);
     height:80%;
 }
 #subtitle{
     top:80px;
     left:10px;
     position:absolute;
     font-size:18px;
 }
 #layerControl{
     z-index:999;
     width:500px;
     height:180px;
     background-color:none;
     margin:10px;
 }
 #key{
     z-index:999;
     width:400px;
     height:100px;
     margin:10px;
     background-color:none;
     border-bottom:1px solid black;
     
 }
 #mainMenu{
     position:absolute;
     right:0px;
     top:0px;
     padding:10px;
     font-size:14px;
     z-index:99;
 }
 #geocoder{width:30px;}
 #histogram{
     position:absolute;
     left:0px;
     bottom:40px;
     z-index:999;
     margin:10px;
 }
 .menu{
     background: #fff;
     padding-bottom:10px;
     margin:10px;
     font-family: 'Open Sans', sans-serif;
     background:rgba(0,0,0,0);
     border-bottom:1px solid black;
 }
 .menu a{
     font-size: 11px;
     color: #000;
     display: block;
     padding: 5px;
     margin:5px;
     text-decoration: none;
     background:#fff;
     border:1px solid #000;
 }

 